:root {
      --orange:   #f97c2b;
      --orange2:  #f4a44a;
      --pink:     #e8607a;
      --pink2:    #c95b8a;
      --purple:   #9b5fa5;
      --blue:     #7b6fc8;
      --green:    #6abf4b;
      --dark:     #3a1a0a;
      --white:    #fff;
    }
